<footer class="footer-block">
    <div class="footer-elements">Copyright © 2019</div>
    <div class="footer-elements">HodlInfo.com</div>
    <div class="footer-elements">Developed By 
        <a href="https://www.quadbtech.com" target="_blank">QuadBTech</a>
    </div>
    <div class="support" >
        <a href="mailto:support@hodlinfo.com" class="footer-text-link">Support</a>
    </div>
</footer>