<footer>
    <div class="footer">
        <div class="d-flex align-items-center text-center">
            <div class="footer-text">Copyright © 2019</div>
            <div class="footer-text">HodlInfo.com</div>
            <div class="footer-text">Developed By <a rel="nofollow" href="https://www.quadbtech.com" target="_blank" style="color: rgb(61, 198, 193);"> QuadBTech</a>
            </div>
            <div class="footer-text pointer" style="margin-left: auto;">
                <a href="mailto:support@hodlinfo.com" class="footer-text-link">Support</a>
            </div>
        </div>
    </div>
</footer>