<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <noscript>You need to enable JavaScript to run this index.</noscript>
    <h1 id="api-title">Data has been fetched from the API and the Db is updated</h1>
    <a href="/" id="redirect-button">GotoHome</a>
    <%- include("./partials/footer.ejs")%>
</body>
</html>