<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <noscript>You need to enable JavaScript to run this index.</noscript>
    <header class="title-block">
        <div class="title-card-block">
            <img style="width:200px;" src="/images/HODLINFO.png" alt="holdinfo picture">
            <p>Powered By <a href="https://www.finstreet.in/courses" target="_blank">Finstreet</a></p>
        </div>
        <div class="title-button-block">
            <button>INR</button>
            <button>BTC</button>
            <button> <a href="">GET</a> </button>
        </div>
        <div class="connect-block">
            <svg viewbox= "0 0 100 100">
                <circle fill="transparent" cx="50" cy="50" r="30" stroke="black" stroke-width="3" fill="red" stroke-dasharray="360"  stroke-dashoffset="340" transform="rotate(-90,50,50)"></circle> />
              </svg>
            <button>CONNECT</button>
            <span>Theme</span>
        </div>
    </header>   
    <div .class="info-block">
        <div class="details-block">
            <div>mins</div>
            <div>hours</div>
            <div>Trade</div>
            <div>day</div>
            <div>week</div>
        </div>
        <img style="width:80%" src="/images/cryptonews.png" alt="">
    </div>
    <main class="main-block">
        <ul>
            <li>Sameple</li>
            <li>Sameple</li>
            <li>Sameple</li>
            <li>Sameple</li>
            <li>Sameple</li>
            <li>Sameple</li>
        </ul>
    </main>
    <img style="width:90%" src="/images/BannerFTXNews.png" alt="">
    <footer class="footer-block">
        <div>
            <div>Copyright © 2019</div>
            <div>HodlInfo.com</div>
            <div>Developed By <a rel="nofollow" href="https://www.quadbtech.com" target="_blank" style="color: rgb(61, 198, 193);"> QuadBTech</a></div>
            <div  style="margin-left: auto;"><a href="mailto:support@hodlinfo.com" class="footer-text-link">Support</a>
            </div>
        </div>
    </footer>
    <div class="service-worker-block">
        <button>Add to homepage</button>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>

<!-- <% crypto.forEach(function(coin){ %>
    <li><%- coin.name %></li>
<% }); %> -->