<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <noscript>You need to enable JavaScript to run this index.</noscript>
    <header class="title-block">

    </header>   
    <div .class="info-block">

    </div>
    <main class="main-block">

    </main>
    <footer class="footer-block">

    </footer>
    <div class="service-worker-block">

    </div>
    <script src="/js/script.js"></script>
</body>
</html>

<!-- <% crypto.forEach(function(coin){ %>
    <li><%- coin.name %></li>
<% }); %> -->