<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs")%>
</head>
<body>
    <noscript>You need to enable JavaScript to run this index.</noscript>
    <!-- <h1>Hello world</h1>
    <ul>
        <% crypto.forEach(function(coin){ %>
            <li><%- coin.name %></li>
        <% }); %>
    </ul> -->
    <%- include("./partials/footer.ejs")%>
</body>
</html>